:root {
    /* Colors */
    --color-primary: #177226;
    --color-background-primary: #121212;
    --color-background-secundary: #2b412f;
    --color-background-tertiary: #354237;
    --color-text: #fff;
    --color-link: #177226;
    --color-link-hover: var(--color-link);

    /* Fonts */
    --font-family-base: sans-serif;
    --font-weight: normal;
    --font-weight-bold: bolder;
    --font-size-base: 17px;
    --font-size: 1rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.4rem;
    --font-size-h3: 1.2rem;

    /* Others */
    --spacing: 1rem;
    --border-radius: var(--spacing);
}

/* Base */
html {
    font-size: var(--font-size-base);
}

body {
    background-color: var(--color-background-primary);
    color: var(--color-text);

    font-family: var(--font-family-base);
    font-weight: var(--font-weight);
    font-size: var(--font-size);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    min-height: 100vh;
    max-width: 1400px;
    padding: var(--spacing);
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: var(--font-weight-bold);
    display: inline-block;
    margin: var(--spacing) 0;
}

h1, h2 {
    text-align: center;
}

strong {
    font-weight: var(--font-weight-bold);
}

a,
a:visited {
    color: var(--color-link);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

a:hover {
    color: var(--color-primary);
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

li {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: var(--spacing);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing);
    padding: var(--spacing);
}

label {
    font-weight: var(--font-weight-bold);
}

select,
textarea,
input {
    width: 200px;
    padding: var(--spacing);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.btn {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding: var(--spacing);
    border: 0;
    border-radius: var(--border-radius);
    width: 200px;
    transition: all 0.4s ease-in-out;
}

a.btn {
    display: inline-block;
    text-align: center;
    width: 200px;
    padding-left: 0;
    padding-right: 0;
}

.btn:hover {
    background-color: var(--color-text);
    color: var(--color-primary);
    transition: all 0.4s ease-in-out;
}

/* Divs */
form .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing);
}

/* Cards */
